
body {
    margin: 0;
    background-color: #222222;
}

/* Header */

.header {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    background: linear-gradient(45deg, #b721ff, #21d4fd);
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
}

.heading-1 {
    position: relative;
    margin: auto;
	padding: 16px;
	font-size: 32px;
	text-align: center;
    height: 50px;
    line-height: 50px;
    color: #fff;
}

.heading-1::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 6px 0 6px;
	border-color: #fff rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0);
}

/* Main */

.content {
    width: 100%;
    height: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    background-color: #222222;
}

.heading-2 {
    font-size: 24px;
    color: #fff;
}

.heading-3 {
    font-size: 20px;
    color: #fff;
}

.text {
    margin: 16px 0 0;
    font-size: 16px;
    line-height: 1.5;
    color: #ddd;
}

.text-center {
    text-align: center;
}

.profile-image {
    margin: 16px 0 0;
    text-align: center;
}

.profile-image img {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

.heading-margin {
    margin-top: 32px;
}

/* Footer */

.footer {
    width: 100%;
    height: auto;
    margin-top: 64px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #272727;
    color: #ddd;
}

/* Button */

.button {
    display: inline-block;
    background-color: #a9704d;
    padding: 10px 30px;
    text-align: center;
    color: #fff;
    margin: 16px 0 0;
    border-radius: 20px;
    background: linear-gradient(45deg, #b721ff, #21d4fd);
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
}

.link {
    color: #21d4fd;
    text-decoration: underline;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 0% 50%;
    }
}